<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #f8f8f8;
            padding: 60px 0;
        }

        #login-form > div {
            margin: 15px 0;
        }

    </style>




    <title>login</title>
</head>
<body>
<h1>login</h1>
<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<form method="post" action="/users/login">
    email : <input type="email" name="email"class="form-control" placeholder ="Email address"><br>

    password : <input type="password" name="password"class="form-control"><br>

    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input type="submit" value="login" class="form-control btn btn-primary">
</form>

<div th:if="${errorFlag} == 'true'">id, password -_-;;;</div>

    </div>
</div>
</body>
</html>